*{
    margin: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #88c932;
}

#Header{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#Header img{
    width: 8rem;
    height: 3.5rem;
}

#Navigations{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    color:#88c932;
    margin-top: 1.2rem;
}

#Footer{
    color: #88c932;
    text-align: center;
    margin-top: 0.5rem;
}

#Hero{
    background-image: url(./Images/PowerPlant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#Hero p{
    font-size: 1.25rem;
}

#Hero div{
    font-size: 1.25rem;
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 20%;
    backdrop-filter: blur(0.04rem);    
}

#Hero div button{
    width: 6.2rem;
    height: 1.6rem;
    border: 0rem;
    border-radius: 0.5rem;
    background-color: rgba(233, 229, 229, 0.61);
    backdrop-filter: blur(0.09rem);
}

#Hero div button:hover {
    background-color: rgba(32, 201, 29);
}

#About{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#About h2{
    margin-top: 3rem;
}

#About p{
    margin-top: 0.8rem;
    font-size: larger;
}

#About h2:hover {
    transition: ease-in;
    color: #88c932;
    text-decoration: underline;
}

#About i{
    color: #88c932;
}

#Contact{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#Contact h2 {
    margin-top: 3rem;
}


#Contact h2:hover {
    transition: ease-in;
    color: #88c932;
    text-decoration: underline;
}

#CTA{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 3rem;
    gap: 2rem;

}

#CTA div{
    width: 22rem;
    height: 15rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
}

#CTA div:hover{
    background-color: #88c932;
    backdrop-filter: blur(0.03rem);
}

.cButtons{
    width: 7Styled rem;
    height: 1.6rem;
    border: 0rem;
    border-radius: 0.5rem;
    background-color: rgb(233, 229, 229);  
    margin-top: 2rem;
}

#Sales h3{
    margin-top: 3rem;
}

#Sales p{
    margin-top: 0.5rem;
}



#Support h3{
    margin-top: 3rem;
}

#Support p{
    margin-top: 0.5rem;
}




#Pics{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    grid-template-rows: repeat(2, 0.3fr);
    gap: 20px;
}

#Pics img{
    width: 20rem;
    height: 17rem;
}

#pictures{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

#pictures h2 {
    margin-top: 3rem;
}

#pictures h2:hover {
    transition: ease-in;
    color: #88c932;
    text-decoration: underline;
}

#PS{
    text-align: center;
    width: 100vw;
    height: fit-content;
}

#PS h2{
    margin-top: 3rem;
}

#PS h2:hover {
    transition: ease-in;
    color: #88c932;
    text-decoration: underline;
}

#Services{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top:     4rem;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    grid-template-rows: repeat(2, 0.2fr);
    gap: 20px;   
}

#Services div{
    width: 17rem;
    height: 20rem;
    border: 0rem;
    border-radius: 0.5rem;
    background-color:whitesmoke;
    
}

#Services div:hover{
    background-color: #88c932;
    backdrop-filter: blur(0.03rem);
}

#Services div h3{
    margin-top: 3rem;
}

#Services div h4{
    margin-top: 1rem;
}

#PopUp{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 0,0,0,0.5;
    color: black;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(0.09rem);
}

#Close{
    position: fixed;
    color: black;
    top: 0;
    right: 20;   
    margin-top: 1rem; 
}

#main{
    width: 100vw;
    height: fit-content;
    text-align: center;
}

#mainHeader{
    margin-top: 2rem;
}

#mainHeader:hover {
    transition: ease-in;
    color: #88c932;
    text-decoration: underline;
}

#areas{
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 4rem;
    gap: 3rem;
}

.focus{
    width: 15rem;
    height:15rem;
    border-radius: 8rem;
    background-color: #88c932;
}

.focus h3{
    margin-top: 6.5rem;
    font-size: 1.5rem ;
}

.focus:nth-of-type(4) h3{
    margin-top: 6rem;
    font-size: 1.5rem ;
}

.focus:hover h3{
    margin-top: 3.5rem;
    font-size: 1.1rem ;
}

.content{
  text-align: center;  
  font-size: 0.9rem;
  margin-top: 1rem;
  display: none;
}
 
.focus:hover .content{
    text-align: center;
    display: block;
}

.LM{
    display: none;
}

.LM:hover{
    color: #ffffff;
    text-decoration: underline;
}

.focus:hover .LM{
    display: block;
}

#FocusAreas{
    text-align:center ;
}

.focuses h3 {
    margin-top: 1rem;
}

.focuses p{
    margin-top: 0.5rem;
}