a{
    text-decoration: none;
    color: #88c932;
}

#Header{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#Header img{
    width: 8rem;
    height: 3.5rem;
}

#Navigations{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    color:#88c932;
}