#Header{
    display: flex;
    flex-direction: row;
}

#Header img{
    width: 8rem;
    height: 3.5rem;
}

#Navigations{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    color:#88c932;
}